# Phoenix ODBC DSN Configuration (Optional)
# Copy this file to /etc/odbc.ini in your container if you want to use DSN connections
# This is optional - you can use DSN-less connection strings instead

[MyPhoenixDSN]
Driver=Phoenix ODBC Driver
Description=Phoenix Connection to OPDB
Server=opdb-docker
Port=8765

# If authentication is required, add:
# UID=username
# PWD=password

# For SSL/TLS connections:
# SSLMode=require
# VerifyServerCertificate=1

